@model System.Collections.Generic.IEnumerable<AccessControlManagement.Models.Post>

@{
    Layout = "~/Views/Shared/_PostLayout.cshtml";
}



<style type="text/css">
    .form-style-5 {
        max-width: 500px;
        padding: 10px 20px;
        background: #f4f7f8;
        margin: 10px auto;
        padding: 20px;
        background: #f4f7f8;
        border-radius: 8px;
        font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    }

        .form-style-5 fieldset {
            border: 1px;
        }

        .form-style-5 legend {
            font-size: 1.4em;
            margin-bottom: 10px;
        }

        .form-style-5 label {
            display: block;
            margin-bottom: 8px;
        }

        .form-style-5 text {
            font-size: 0.8em;
            color: #808080;
        }

        .form-style-5 small {
            font-size: 1em;
            color: #35ad95;
        }

        .form-style-5 h3 {
            color: #1abc9c;
        }

        .form-style-5 p {
            text-align: justify;
        }

        .form-style-5 .number {
            background: #1abc9c;
            color: #fff;
            height: 30px;
            width: 30px;
            display: inline-block;
            font-size: 1em;
            margin-right: 4px;
            line-height: 30px;
            text-align: center;
            text-shadow: 0 1px 0 rgba(255,255,255,0.2);
            border-radius: 15px 15px 15px 0px;
        }

        .form-style-5 input[type="submit"],
        .form-style-5 input[type="button"] {
            position: relative;
            display: block;
            padding: 19px 39px 18px 39px;
            color: #FFF;
            margin: 0 auto;
            background: #1abc9c;
            font-size: 18px;
            text-align: center;
            font-style: normal;
            width: 100%;
            border: 1px solid #16a085;
            border-width: 1px 1px 3px;
            margin-bottom: 10px;
        }

            .form-style-5 input[type="submit"]:hover,
            .form-style-5 input[type="button"]:hover {
                background: #109177;
            }

    input[type="text"] {
        width: 200px;
    }
</style>

<form>
    @foreach (var item in Model)
    {
        <div class="form-style-5">
            <fieldset>
                <legend><span class="number">P</span>@Html.DisplayFor(modelItem => item.user.username)</legend>

                <small>@Html.DisplayFor(modelItem => item.Category.category_name)</small>

                <text>@Html.DisplayFor(modelItem => item.post_date)</text>
                <br />

                <h3>@Html.DisplayFor(modelItem => item.title)</h3>

                <p>
                    @Html.DisplayFor(modelItem => item.post_description)
                </p>
            </fieldset>
            <br />
            <br />
            <br />
        </div>
    }

</form>
