@model IEnumerable<object>
@{
    List<AccessControlManagement.Models.user> userss = Model.ToList()[0] as List<AccessControlManagement.Models.user>;
    List<AccessControlManagement.Models.CategoryUsers> listUsers = Model.ToList()[1] as List<AccessControlManagement.Models.CategoryUsers>;
    
}
@{ 
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<style type="text/css">
    .user-table-home i {
        color: #1abc9c;
    }

    .ad-table-view i {
        color: #1abc9c;
    }

      .user-table-home {
        max-width: 1000px;
        padding: 10px 20px;
        background: #f4f7f8;
        margin: 10px auto;
        padding: 20px;
        background: #f4f7f8;
        border-radius: 8px;
        font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    }

       .user-table-home myuserList {
            font-size: 1.4em;
            margin-bottom: 10px;
        }

        .user-table-home text {
            font-size: 0.8em;
            color: #808080;
        }

         .user-table-home th {
            font-size: 1em;
            color: #35ad95;
        }

        
    .p1 {
        font-size: 1em;
        color: #35ad95;
        font-style: normal;
        font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    }

    .user-table-home .userNumber {
        background: #1abc9c;
        color: #fff;
        height: 30px;
        width: 30px;
        display: inline-block;
        font-size: 1em;
        margin-right: 4px;
        line-height: 30px;
        text-align: center;
        text-shadow: 0 1px 0 rgba(255,255,255,0.2);
        border-radius: 15px 15px 15px 0px;
    }
</style>


<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#all-user-tab">View All User</a></li>
        <li><a data-toggle="tab" href="#created-post-tab">Articles</a></li>       
    </ul>

    <div class="tab-content">
        <div id="all-user-tab" class="tab-pane fade in active">
          
            <div class="row user-table-home" style="margin-top:10px" id="setting-table-post">
                <myuserList>
                    <span class="userNumber">U</span>
                    User Details
                </myuserList>
                <table class="table table-hover" style="margin-top:50px">
                    <tr style="background-color:#DADBDE">
                        <th style="text-align:center">Full Name</th>
                        <th style="text-align:center">User Name</th>
                        <th style="text-align:center">Role</th>
                        <th style="text-align:center">Email</th>
                        <th style="text-align:center">No. of Posts</th>
                    </tr>

                    @foreach (var item in listUsers)
                    {
                        <tr>
                            <td style="text-align:center">@item.firstName</td>
                            <td style="text-align:center">@item.userName</td>
                            <td style="text-align:center">@item.myrole</td>
                            <td style="text-align:center">@item.email</td>
                            <td style="text-align:center">@item.postCount</td>
                        </tr>
                    }
                </table>
            </div>

        </div>
        <div id="created-post-tab" class="tab-pane fade">
            <h3>Post Details</h3>
            <div class="col-sm-offset-1">
                <div>
                    <label>User Name: </label>
                </div>
                
                <div>
                    @Html.DropDownList("UsersNameList", null, "Select", htmlAttributes: new { @class = "form-control", id = "usernamelist", onchange = "DropDownValueUser()" })
                </div>
            </div>

            <div class="col-md-offset-1">
                <div class="row" style="margin-top:10px">
                    <table class="table table-hover" style="border:2px solid black; margin-top:50px" id="setting-table-created-post" hidden>
                        <thead>
                            <tr style="border:2px solid black; background-color:#DADBDE">
                                <th style="border-right:2px solid black; text-align:center">Category</th>
                                <th style="border-right:2px solid black; text-align:center">Date</th>
                                <th style="border-right:2px solid black; text-align:center">Post Title</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @*@foreach (var item in listAdvertiser)
                            {
                                <tr></tr>
                            }*@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")







