@model AccessControlManagement.Models.user

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
{
   


    @Html.ValidationSummary(true)

        <legend>User</legend>
        @Html.AntiForgeryToken()


         @*@if (ViewBag.Message != null)
        {
            <div style="border:solid 1px green">
                @ViewBag.Message
            </div>
        }*@



        <tr>
            <td>
                @Html.LabelFor(a => a.password)
            </td>
            <td>
                @Html.PasswordFor(a => a.password)
            </td>

        </tr>

        <tr>
            <td>
                @Html.LabelFor(a => a.ConfirmPassword)
            </td>
            <td>
                @Html.PasswordFor(a => a.ConfirmPassword)
            </td>

        </tr>


        <tr>
            <td>
                @Html.LabelFor(a => a.newPassword)
            </td>
            <td>
                @Html.PasswordFor(a => a.newPassword)
            </td>

        </tr>

        <p>
            <input type="submit" value="ResetPassword" />
   
        
          </p>


        if (TempData["notice"] != null)
        {
            <p>@TempData["notice"]</p>
        }

    }

