<!DOCTYPE html>
<html>
<head> 

    <title>Content Management System</title>
    <link rel="icon" href="~/images.ico" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<link rel="stylesheet" type="text/css" href="themes/twitter.css">*@
    <script src="~/Scripts/sweetalert.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Scripts/sweetalert.css">

</head>
<body>

 <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
           
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
