@*@model IEnumerable<AccessControlManagement.Models.AdvertisementDetail>*@

@model IEnumerable<object>
@{

    List<AccessControlManagement.Models.user> userss = Model.ToList()[0] as List<AccessControlManagement.Models.user>;
    List<AccessControlManagement.Models.AdvertisemetsAccess> advt = Model.ToList()[1] as List<AccessControlManagement.Models.AdvertisemetsAccess>;


}


@{
    Layout = "~/Views/Shared/_Advertisement_Layout.cshtml";
}

<br/>
<br/>

<div>
    <div>
        <p style="font-size:20px">
            @Html.ActionLink("Add new advertisement", "Create")
        </p>
    </div>

    <div class="pull-right" style="margin-right:100px">
        <button style="border:none; font-size:20px;">View Post</button>
    </div>
</div>

<table class="table advertise-table" name="dash">
    <tr>
        <th>
            Title
        </th>

        <th>
            Want to post
        </th>
        <th>
            Status
        </th>
        <th>
            Posted Date
        </th>
        <th>
            Updated Date
        </th>
        <th>
            Due Date
        </th>
        <th>
            Category
        </th>
        <th></th>
    </tr>

    @foreach (var item in advt)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.wantToPostDate)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.status)
            </td>*@
            <td>
            @{
                var status = item.status;
                if (status == "Accepted")
                {
                    <b style="color: forestgreen"> @Html.DisplayFor(modelItem => item.status)</b>
                }

                else if (status == "Pending")
                {
                    <b style="color: goldenrod"> @Html.DisplayFor(modelItem => item.status) </b>
                }
                else if (status == "Reject")
                {
                    <b style="color: darkred"> @Html.DisplayFor(modelItem => item.status) </b>
                }
                else if (status == "Request for Renew")
                {
                    <b style="color: darkred"> @Html.DisplayFor(modelItem => item.status) </b>
                }
                
            }


            </td>

            <td>
                @Html.DisplayFor(modelItem => item.postedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.updatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category1.category_name)
            </td>
            <td>
                @Html.ActionLink("Update", "Edit", new { id = item.ADD_id }) |
               
                @Html.ActionLink("Delete", "Delete", new { id = item.ADD_id })
            </td>
        </tr>   
    }

</table>
