@model IEnumerable<AccessControlManagement.Models.AdvertisementDetail>

@{
    ViewBag.Title = "Main page of Advertisement";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add new advertisement", "Create")
</p>
<table class="table" name="dash">
    <tr>
        <th>
            Title
        </th>

        <th>
            Want to post
        </th>
        <th>
            Status
        </th>
        <th>
            Posted Date
        </th>
        <th>
            Updated Date
        </th>
        <th>
            Due Date
        </th>
        <th>
            Category
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.wantToPostDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.updatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category1.category_name)
            </td>
            <td>
                @Html.ActionLink("Update", "Edit", new { id = item.ADD_id }) |
                @Html.ActionLink("View", "Details", new { id = item.ADD_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ADD_id })
            </td>
        </tr>
    }

</table>
@section Scripts{
    <script>

        $(document).ready(function () {
            jQuery.each($("table[name='dash'] tbody tr td:nth-child(3)"), function () {


                if (this.textContent = 'Posted') {
                    $(this).css("background-color", "limegreen");
                }
                else if (this.textContent = 'Expired') {
                    $(this).css("background-color", "red");
                }
                else if (this.textContent = 'Pending') {
                    $(this).css("background-color", "yellow");
                }


            });
        });


        //$(function () {
        //    $("tr").each(function () {
        //        var col_val = $(this).find("td:eq(3)").text();
        //        if ($.trim(col_val) === "Posted") {
        //            $(this).parent().css('background-color', '#f00'); //the selected class colors the row green//
        //        }

        //        else if (col_val == "Expired") {
        //            $(this).parent().css('background-color', '#f00');
        //        }
        //    });
        //});


    </script>
}