@{
    ViewBag.Title = "Index";
    @model IEnumerable<object>

    List<AccessControlManagement.Models.InsertAdd> ADDdetails = Model.ToList()[0] as List<AccessControlManagement.Models.InsertAdd>;
}


<div class="col-xs-12">
    <label for="">Search</label>
    <input type="text" align="right" id="search" placeholder="Type to search Advertisement">
</div>
<h2>Index</h2>

<p>
    @Html.ActionLink("Add New Advertisement", "Create")
</p>
<table class="table table-striped table-bordered table-hover" id="table">
    <tr>
        <th>Add ID</th>
        <th>Title</th>
        <th>Posted date</th>
        <th>Updated date</th>
        <th>Due date</th>
        <th>Status</th>
        <th></th>
    </tr>




    @{

        foreach (var item in ADDdetails)
        {
            <tr>
                <td>
                    @Html.DisplayFor(a => item.ADD_id)
                </td>
                <td>
                    @Html.DisplayFor(a => item.title)
                </td>
                <td>
                    @Html.DisplayFor(a => item.postedDate)
                </td>
                <td>
                    @Html.DisplayFor(a => item.updatedDate)
                </td>
                <td>
                    @Html.DisplayFor(a => item.dueDate)
                </td>
                <td>
                    @Html.DisplayFor(a => item.status)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ADD_id })
                    @Html.ActionLink("View", "View", new { id = item.ADD_id })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ADD_id },
    new { onclick = "return confirm('Are you sure you wish to delete this Adverisement?');" })
                </td>
            </tr>
        }
    }
</table>

@section Scripts{
    <script>

    var $rows = $('#table tr');
    $('#search').keyup(function () {
        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

        $rows.show().filter(function () {
            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            return !~text.indexOf(val);
        }).hide();
    });

    </script>
}

