@*@model IEnumerable<AccessControlManagement.Models.AdvertisementDetail>*@

@model IEnumerable<object>
@{

    List<AccessControlManagement.Models.user> userss = Model.ToList()[0] as List<AccessControlManagement.Models.user>;
    List<AccessControlManagement.Models.AdvertisemetsAccess> advt = Model.ToList()[1] as List<AccessControlManagement.Models.AdvertisemetsAccess>;


}


@{
    Layout = "~/Views/Shared/_Advertisement_Layout.cshtml";
}



<h2>Index</h2>

<p>
    @Html.ActionLink("Add new advertisement", "Create")
</p>
<table class="table" name="dash">
    <tr>
        <th>
            Title
        </th>

        <th>
            Want to post
        </th>
        <th>
            Status
        </th>
        <th>
            Posted Date
        </th>
        <th>
            Updated Date
        </th>
        <th>
            Due Date
        </th>
        <th>
            Category
        </th>
        <th></th>
    </tr>

    @foreach (var item in advt)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.wantToPostDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.updatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category1.category_name)
            </td>
            <td>
                @Html.ActionLink("Update", "Edit", new { id = item.ADD_id }) |
                @Html.ActionLink("View", "Details", new { id = item.ADD_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ADD_id })
            </td>
        </tr>   
    }

</table>
